/* color pallete
--aero: #1AC5E0ff;
--celestial-blue: #019BD8ff;
--gunmetal: #323544ff;
--gunmetal-2: #2D303Dff;
--raisin-black: #1E202Bff;
*/


* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #1E202Bff;
    color: whitesmoke;
    /* max-height: 100vh; */
}

main {
    min-height: calc(100vh - 132px);
    
}


/* HEADER                   */


.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background-color: rgb(17, 18, 24);
    padding: 20px;
}

.Header--Title {
    font-size: 2rem;
    font-weight: Bold;
    
}

a.Header--Title {
    color: white;
    text-decoration: none;
}

a.Header--Title:hover {
    color: #019BD8ff;

}

a.Header--Title.active {
    color: #019BD8ff;

}


.Header--Container {
    display: Flex;
    align-items: center;
}

.Header--Container > * {
    font-size: 1.5rem;
    margin: 4px;
}

.Header--Container > a {
    color: white;
    text-decoration: none;
}

.Header--Container > a:hover {
    color: #019BD8ff;
}

.Header--Container > a.active {
    color: #019BD8ff;
    
}

.Dropdown {
    margin-left: 124px;
}

.Dropdown--Button {
    padding: 8px 14px;
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #2D303D;
    color: rgb(17, 18, 24);

}

.Dropdown--Button:active {
    color: #019BD8ff;
}

.Dropdown--Button:hover {
    color: #019BD8ff;
}

.Dropdown--Content {
    display: none;
    position: absolute;
    right: 10px;
    width: 160px;
    height: 120px;
    background-color: transparent;
    border-radius: 5px;
}

.Dropdown:hover .Dropdown--Content {
    display: flex;
    flex-direction: column;
    color: #019BD8ff;
    align-items: start;
    justify-content: start;
    border-radius: 5px;
}

.Dropdown:active .Dropdown--Content {
    display: flex;
    flex-direction: column;
    color: #019BD8ff;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 5px;
}

.Dropdown:disabled .Dropdown--Content {
    display: none;
}

.Dropdown--Content a {
    text-decoration: none;
    color: white;
    padding: 5px 5px;
    font-size: 1.5rem;
    background-color: #2D303D;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 3px solid #1E202B;
    border-radius: 10px;
    z-index: 2000;

}

.Dropdown--Content a:hover {
    color: #019BD8ff;
    background-color: #1E202B;
    border: 3px solid #019BD8ff;
}

.Dropdown--Content a:active {
    color: #019BD8ff;
    background-color: #1E202B;
    border: 3px solid #019BD8ff;
}








/*          FOOTER              */




.Footer {
    background-color: rgb(17, 18, 24);
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    
}

.Footer--text {
    font-size: 1rem;
    font-weight: italic;
    color: rgb(224, 224, 224);
}


/*         MAP PAGE             */


.Maps {
    width: 100%;
    height: calc(100vh - 132px);
    outline: 1px solid black;
    padding: 0;
    box-shadow: 0px 0px 15px 0px black;
}

.Maps--Container {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.Maps--Dropdown {
    position: absolute;
    z-index: 2;
    margin: 5px;
    top: 78px;
    right: 5px;
}

.Maps--Dropdown > * {
    color: rgb(15, 15, 15);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(165, 163, 163);

}


.Maps--Dropdown > *:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(165, 163, 163);

}

.Maps--Dropdown > *:active {
    background-color:  rgb(240, 240, 240);
    border: none;
    outline: none;
    border: 2px solid rgb(165, 163, 163);

}

@media (max-width: 767px) {
    body {
        width: 100vw;
        
    }

    main {
        width: 100vw;
    }

    .header {
        height: 144px;
    }

    .Dropdown {
        margin-left: 0;
    }

   
    .Dropdown--Button {
        padding: 8px 14px;
        border-radius: 10px;
        border: none;
        font-size: 1.25rem;
        font-weight: bold;
        background-color: #2D303D;
        color: rgb(17, 18, 24);

    }

    .Dropdown--Button:active {
        color: #019BD8ff;
    }

    .Dropdown--Button:hover {
        color: #019BD8ff;
    }

    .Dropdown--Content {
        display: none;
        position: absolute;
        right: 10px;
        width: 160px;
        height: 200px;
        background-color: transparent;
        border-radius: 1px;
    }

    .Dropdown:hover .Dropdown--Content {
        display: flex;
        flex-direction: column;
        color: #019BD8ff;
        align-items: start;
        justify-content: space-evenly;
        border-radius: 1px;
    }

    .Dropdown:active .Dropdown--Content {
        display: flex;
        flex-direction: column;
        color: #019BD8ff;
        align-items: start;
        justify-content: space-evenly;
        border-radius: 1px;
    }

    .Dropdown:disabled .Dropdown--Content {
        display: none;
    }

    .Dropdown--Content a {
        text-decoration: none;
        color: white;
        padding: 5px 5px;
        font-size: 1.5rem;
        background-color: #2D303D;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        border: 3px solid #1E202B;
        border-radius: 4px;
        z-index: 2000;

    }

    .Dropdown--Content a:hover {
        color: #019BD8ff;
        background-color: #1E202B;
    }

    .Dropdown--Content a:active {
        color: #019BD8ff;
        background-color: #1E202B;
    }
}




/*             SETTINGS            */



.Settings {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.Settings--Block {
    width: 750px;
    min-height: 150px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px black;
    background: linear-gradient(120deg, #2D303Dff, #1E202Bff);
    margin-top: 40px;
    padding: 10px;
}

.Units--Container {
    margin-left: 10px;
}

.Settings--Block > h2 {
    font-size: 32px;
    margin: 5px;
    margin-bottom: 10px;
    color: #019BD8;
}

.Settings--Block > p {
    margin-left: 20px;
}

.Settings--Block span {
    font-size: 18px;
    padding: 10px;
    color: #333;
    user-select: none;
  }
  
  .Settings--Block .imperial {
    color: white;
    border-radius: 5px;
  }
  
  .Settings--Block .metric {
    color: white;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  .Settings--Block .active {
    background-color: #2196f3;
    color: #fff;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 34px;
    margin-left: 10px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 16px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 0px;
    bottom: -6px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  @media (max-width: 767px) {
    .Settings--Block {
        width: 90vw;
    }
  }










